
*{
    margin:0px;
    padding:0px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}
.clearfix{
    clear: both;
    float:none;
}

body{
    background: url(../img/cubes.jpg) #F4F4F4;
    color:white;
}

#header{
    width: 85%;
    height: auto;
    background: transparent;
    margin: 0px auto;


}

#logo{
    float:left;
    width:540px;
    height:110px;


}
.description{
    width:780px;
    height:157px;   
}

#logo a{
    font-family: Helvetica;
    font-size: 40px;
    letter-spacing: 2px;
    color: #3399ff;
    text-shadow:0px 0px 0px black,1px 1px 0px black,2px 2px 0px black;
    transition: all 500ms;  
    line-height: 100px;
    margin-left:10px;
}


#logo a:hover{
    cursor:pointer;
    text-shadow:0px 0px 0px white,1px 1px 0px white,2px 2px 0px white;


}


#menu{
    width: 100%;
    clear: both;
    overflow: hidden;

}

#menu ul{
    list-style: none;

}

#menu ul li{
    float: left;
    line-height: 45px;
    border-right: 1px solid #d6d6d6;


}

#menu ul li a{
    display:block;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
    color:white;
    background-color: #7B7B7B;
    transition: all 500ms;  
}

#menu ul li a:hover{
    background-color: black;
}

#container{
    width: 85%;
    min-height:auto;
    margin: 0px auto;
    margin-top: 30px;


}
#sidebar{
    float: right;
    width: 25%;
    height: auto;
    margin-right: 10px;

}
#main{
    float: left;
    width: 65%;
    min-height:572px; 
    background: white;  
    border-radius: 5px;
    box-shadow: 0px 0px 5px #ccc;
    color:black;
    margin-left: 20px;
    padding:20px;
    overflow:hidden;

}
#main h1{
    font-size: 24px;
    color: #444;
    letter-spacing: 1px;
    text-shadow:1px 1px 2px #ccc;

}
#main h2{
    font-size: 24px;
    color: #3399ff;
    letter-spacing: 1px;
    margin-top: 25px;
    text-shadow:1px 1px 2px #ccc; 
}

#main p{
    margin: 12px;

}

#main a{
    color:#333;

}

.panel{

    display: flex;
    flex-direction: column;
    list-style-type:none;
    justify-content: space-between;
    align-content: center;

}
.date_last_posts{
    color:#33ccff;
    margin-top: 15px;
    font-size:14px
}
.panel-li{

    font-size: 12px;

}

#see-all a {
    display:block;
    border-radius: 2px;
    padding:15px;
    color:white;
    background: #007ee5;
    border : 1px solid #156785;
    cursor: pointer;
    width:160px;
    margin: 0px auto;
    margin-top: 50px;
    text-align: center;

}


.block-aside{
    display: block;

    margin: 0px auto;
    margin-bottom: 30px;
    background: white;
    color: black;
    padding: 15px;
    box-shadow: 0px 0px 1px rgba(0,0,0,0.3),0px 3px 7px rgba(0,0,0,0.3),0px 0px 1px #FFFFFF inset,0px -3px 2px rgba(0,0,0,0.3);
}
.block-aside h3{
    margin-bottom: 15px;


}


label,input[type="text"],input[type="email"],input[type="password"]{
    display: block;
    width: 95%;
    margin-top: 2px;
    margin-bottom: 2px;
    padding:3px;

}
input[type="text"],input[type="email"],input[type="password"]{
    margin-bottom: 10px;


}
input[type="button"],input[type="submit"]{
    margin-top: 2px;
    margin-bottom: 2px;
    display:block;
    border-radius: 2px;
    padding:7px;
    color:white;
    background: #007ee5;
    border : 1px solid #156785;
    cursor: pointer;
    text-align: center;

}

#footer{
    clear:both;
    width: 85%;
    margin:0px auto;
    border:1px solid #c9c9c9;
    border-bottom: none;
    border-radius: 8px 8px 0px 0px;
    margin-top: 20px;
    height:auto;
    padding: 10px;
    text-align: center;


}

.error-alert{
    margin-top: 15px;
    padding: 5px;
    font-size: 14px;
    color:white;
    background-color: red;
    box-shadow:0px 1px 3px #ccc ;
    margin-bottom: 10px;   
    border-radius: 10px;
}
.green-button{
    margin-top: 2px;
    margin-bottom: 2px;
    display:block;
    border-radius: 2px;
    padding:7px;
    color:white;
    background: greenyellow;
    border : 1px solid #156785;
    cursor: pointer;
    text-align: center;

}
.blue-button{
    margin-top: 2px;
    margin-bottom: 2px;
    display:block;
    border-radius: 2px;
    padding:7px;
    color:white;
    background: #0099cc;
    border : 1px solid #156785;
    cursor: pointer;
    text-align: center;

}
.orange-button{
    margin-top: 2px;
    margin-bottom: 2px;
    display:block;
    border-radius: 2px;
    padding:7px;
    color:white;
    background: orange;
    border : 1px solid #156785;
    cursor: pointer;
    text-align: center;

}
.red-button{
    margin-top: 2px;
    margin-bottom: 2px;
    display:block;
    border-radius: 2px;
    padding:7px;
    color:white;
    background: red;
    border : 1px solid #156785;
    cursor: pointer;
    text-align: center;

}

